.header {
    display: grid;
    grid-template: 'img h1';
    grid-template-columns: 125px auto;
    margin: 0;
}

.header img {
    height: 100px;
    width: 100px;
    margin: 1% auto 0 1%;
    
}

.header h1 {
    font-family: 'Impact';
    text-align: left;
    
}