<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="none" />

    <title>Log In</title>
</head>

<body>
    <!-- <div class="login-bg-image"></div>
    <div id="okta-login-container"></div>

    <script type="text/javascript">
        // "config" object contains default widget configuration
        // with any custom overrides defined in your admin settings.
        var config = OktaUtil.getSignInWidgetConfig();

        // Render the Okta Sign-In Widget
        var oktaSignIn = new OktaSignIn(config);
        oktaSignIn.renderEl({ el: '#okta-login-container' },
            OktaUtil.completeLogin,
            function(error) {
                // Logs errors that occur when configuring the widget.
                // Remove or replace this with your own custom error handler.
                console.log(error.message, error);
            }
        );
    </script> -->
    This is Temporary
</body>
</html>

<!-- <div class="container">

    <div class="row">
      
      <div class="col-md-6">
  
        <h1 class="form-signin-heading">Sign in</h1>
        <p class="lead">Not a member? Please <a routerLink="/register">register</a> instead.</p>
    
        <form (submit)="login()">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
          </div>
          <button type="submit" class="btn btn-default">Sign in!</button>
        </form>
  
      </div>
    </div>
  
  </div> -->
