<div class="login-page">
  <!-- <span *ngIf="auth.loggingIn">Logging in...</span> -->
  <ng-template [ngIf]="!auth.loggingIn">
    
<mat-card class="example-card" style="width:25%">
  <form [formGroup]="loginForm" (ngSubmit)="pageLogin()">
    <div class="form-group">
    <img class="mb-4" src="../../assets/logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="email" class="sr-only">Email address</label>
    <input type="email" formControlName="email"
      class="form-control" placeholder="Email Address" [ngClass]="{ 'is-invalid':
        submitted && f.email.errors }" autocomplete="email"/>
        <div *ngIf="submitted && loginForm.hasError" class="invalid-feedback">
            <div *ngIf="!loginForm.valid">Username is required</div>
        </div>
    <label for="password" class="sr-only">Password</label>
    <input type="password" formControlName="password" [ngClass]="{ 'is-invalid':
      submitted && f.password.errors }" autocomplete="current-password"
      class="form-control" placeholder="Password">
      <div *ngIf="submitted && !loginForm.hasError" class="invalid-feedback">
        <div *ngIf="loginForm.errors">Password is required</div>
      </div>
      <div *ngIf="badPassword" class="invalid-feedback">
         <div *ngIf="loginForm.errors">Incorrect Password.</div>
      </div>
      <div id=submit style="margin-top: 15px">
        <button type="submit" class="btn btn-primary btn-login" color="primary">Login</button>
      </div>
    </div>
    <!-- <div>
      <hr>
      <p>Or sign in using...</p>
      <div class="btn-group btn-group-justified">
          <a ng-repeat="(provider, property) in social" ng-href="{{property.login}}" target="_self" class="btn btn-info"><i ng-class="'fa ' + property.icon + ' fa-lg'"></i> {{property.text}}</a>
      </div>
    </div> -->
  <mat-card-actions>
    
    <button class="btn btn-link" routerLink="/register" color="primary">Register</button>
    <button class="btn btn-link" routerLink="/reset" color="primary">Forgot</button>
  </mat-card-actions>
</form>
</mat-card>
</ng-template>
    <span *ngIf="auth.currentUserValue && auth.currentUser">
      You are logged in as blank
    <span class="divider">|</span>
    <a (click)="auth.logout()">Log Out</a>
    </span>

</div>


  