  <div id="uploader" class="uploader" >
  <div [hidden]="submitted" class="card-body">
    <div id="heading">
    <h3>Entering Results for</h3>
    <h4> username </h4>
    <h5>Legion of Blood</h5>
    <p>Find a player:</p>
    </div>
    <!-- <label class="sr-only" for="search">Search</label>
    <div class="search input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">Search</div>
      </div>
      <input
        id="search"
        type="text"
        class="form-control"
        [(ngModel)]="query"
        (keyup)="searchPlayers()" />
      <span class="input-group-append">
        <button
          class="btn btn-danger"
          (click)="resetQuery()"
          [disabled]="!query">&times;</button>
      </span>
    </div> -->
 <!-- No search results -->
 <!-- <p *ngIf="fs.noSearchResults(filteredPlayers, query)" class="alert alert-warning">
    No events found for <em class="text-danger">{{ query }}</em>, sorry!
  </p> -->
    <!-- <form name="FindPlayer" action="#">
    Email Adress: <input type="text" name="email"><br>
    Username: <input type="text" name="username"><br>
    User ID: <input type="text" name="userid"><br>
    <input type="submit" value="Find">
  </form> -->
  <br>
  <p>Enter your results:</p>
  <div class="results">
  <form (ngSubmit)="submitGame()" #gameForm="ngForm">
    <label for="Grand Alliance">Grand Alliance</label>
    <select name="Grand Alliance" class="form-control" id="GA" required>
      <option *ngFor="let ga of factionGAs" [value]="ga">{{ga}}</option>
    </select>
  <!-- <div class="form-group">
    <label for="faction">Faction</label>
    <select class="form-control" id="factions" required>
      <option *ngFor="let faction of factions" [value]="faction">{{faction}}</option>
    </select>
  </div> -->
  <div class="form-group">
    <label for="GameResult">Game Result</label>
    <select class="form-control" id="results" required>
      <option *ngFor="let result of results" [value]="result">{{result}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="BattlePlan">Battleplan</label>
    <select id="batteplans" class="form-control" required>
        <option *ngFor="let plan of battleplans" [value]="plan">{{plan}}</option>
    </select>
  </div>
     <br>
    <div class="form-group">
      <button type="submit" class="button">Submit</button>
      <button class="button" (click)="toggleEditForm()">{{ editBtnText }}</button>
      <input type="button" name="Review" value="History">
    </div>
    <br>
    </form>
</div>
</div>
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Faction</div>
      <div class="col-xs-9">{{faction}}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Battleplan</div>
      <div class="col-xs-9">{{plan}}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Result</div>
      <div class="col-xs-9">{{result}}</div>
    </div>
    <br>
    <button class="button" (click)="submitted=false">Edit</button>
  </div>
</div>