  <div id="uploader" class="uploader" ([ngModel])="playerSub">
  <div [hidden]="submitted" class="card-body">
    <mat-card id="heading">
    <h3>Entering Results for</h3>
    <h4>{{player.username}}</h4>
    </mat-card>
    <br>
    <mat-card>
    <mat-card-title>Find opponent:</mat-card-title>
    <form [formGroup]="searchForm" (ngSubmit)="findPlayers()">
      <div class="form-group">
        <label for="playerId">PlayerId: </label>
        <input class="form-control" type="text" placeholder="Search" formControlName="playerId" />
      </div>
    </form>
  </mat-card>
  <br>
<mat-card style="text-align: center">
  <mat-card-title> Enter your results: </mat-card-title>  
  <form [formGroup]="uploadForm" (ngSubmit)="submitGame()">
  <mat-card-content>
  <div class="card-group" style="margin: auto 10% auto 10%">
    <mat-card>
      <mat-card-title>{{player.username}}'s Results:</mat-card-title>
        <div class="form-group">
          <select placeholder="Select Grand Alliance" class="form-control" formControlName="P1GA">
            <option [ngValue]="null">Select Grand Alliance:</option>
            <option *ngFor="let ga of factionGAs" [value]="ga">{{ga}}</option>
          </select>
          <select *ngIf="P1GA.includes('Order')" formControlName="playerOneFaction" class="form-control">
            <option [ngValue]="null">Select Faction:</option>
            <option *ngFor="let sf of orderFactions" [value]="sf">{{sf}}</option>
          </select>
          <select *ngIf="P1GA.includes('Destruction')" formControlName="playerOneFaction" class="form-control">
            <option [ngValue]="null">Select Faction:</option>  
            <option *ngFor="let sf of desFactions" [value]="sf">{{sf}}</option>
            </select>
          <select *ngIf="P1GA.includes('Chaos')" formControlName="playerOneFaction" class="form-control">
            <option [ngValue]="null">Select Faction:</option>
            <option *ngFor="let sf of chaosFactions" [value]="sf">{{sf}}</option>
          </select>
          <select *ngIf="P1GA.includes('Death')" formControlName="playerOneFaction" class="form-control">
            <option [ngValue]="null">Select Faction:</option>
            <option *ngFor="let sf of deathFactions" [value]="sf">{{sf}}</option>
          </select>
          <select class="form-control" formControlName="playerOneResult" required>
            <option [ngValue]="null">Select your result:</option>
            <option *ngFor="let result of results" [value]="result">{{result}}</option>
          </select>
        </div>
    </mat-card>
    <mat-card>
      <mat-card-title>Opponent's Results:</mat-card-title>
      <div class="form-group">
          <select placeholder="Select Grand Alliance" class="form-control" formControlName="P2GA">
              <option [ngValue]="null">Select Grand Alliance:</option>
              <option *ngFor="let ga of factionGAs" [value]="ga">{{ga}}</option>
            </select>
            <select *ngIf="P2GA.includes('Order')" formControlName="playerOneFaction" class="form-control">
              <option [ngValue]="null">Select Faction:</option>
              <option *ngFor="let sf of orderFactions" [value]="sf">{{sf}}</option>
            </select>
            <select *ngIf="P2GA.includes('Destruction')" formControlName="playerOneFaction" class="form-control">
              <option [ngValue]="null">Select Faction:</option>  
              <option *ngFor="let sf of desFactions" [value]="sf">{{sf}}</option>
              </select>
            <select *ngIf="P2GA.includes('Chaos')" formControlName="playerOneFaction" class="form-control">
              <option [ngValue]="null">Select Faction:</option>
              <option *ngFor="let sf of chaosFactions" [value]="sf">{{sf}}</option>
            </select>
            <select *ngIf="P2GA.includes('Death')" formControlName="playerOneFaction" class="form-control">
              <option [ngValue]="null">Select Faction:</option>
              <option *ngFor="let sf of deathFactions" [value]="sf">{{sf}}</option>
            </select>
            <select class="form-control" formControlName="playerOneResult" required>
              <option [ngValue]="null">Select your result:</option>
              <option *ngFor="let result of results" [value]="result">{{result}}</option>
            </select>
      </div>
    </mat-card>
  </div>
    <mat-card style="align-content: center" width="60%">
        <div class="form-group">
          <select formControlName="battlePlan" class="form-control" required>
              <option [value]="null">Select Battleplan:</option>
              <option *ngFor="let plan of battleplans" [value]="plan">{{plan}}</option>
          </select>
          <select class="form-control" formControlName="pointsLevel" required>
            <option [value]="null">Select points level:</option>
            <option value="1000">1000</option>
            <option value="2000">2000</option>
          </select>
        </div>
    </mat-card>
  </mat-card-content>

  <br>
  <mat-card-actions>        
    
      <button type="submit" class="button">Submit</button>
      <button class="button" (click)="toggleEditForm()">{{ editBtnText }}</button>
      <input type="button" name="Review" value="History">
    
  </mat-card-actions>
</form> 
  </mat-card>
  </div>
    <br>
<mat-card [hidden]="!submitted">
    <mat-card-title>You submitted the following:</mat-card-title>
    <div class="row">
      <div class="col-xs-3">Faction</div>
      <div class="col-xs-9">{{faction}}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Battleplan</div>
      <div class="col-xs-9">{{plan}}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Result</div>
      <div class="col-xs-9">{{result}}</div>
    </div>
    <br>
    <mat-card-actions>
      <button class="button" (click)="submitted=false">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>