<app-loading *ngIf="loading"></app-loading>

<div class="userInfo" ([ngModel])="playerSub">
  <img src="{{player.profilePic}}">
  <div id="profile-info" class="profile-info">
   <h1>{{player.username}}</h1>
   <h2>
      {{player.playerFirstName}} {{player.playerLastName}}<br>
      {{player.email}}<br>
      Player ID: {{player.playerId}}
   </h2>
  </div>
   <h2>Favored faction:</h2>
   <h3>{{player.subFaction}}</h3>
  </div>

<div class="body" ([ngModel])="playerSub">
  <p> 
    Games Fought: {{player.gamesPlayed}}
    Wins: {{player.gamesWon}}
    Losses: {{player.gamesPlayed - player.gamesWon}}
    Win Percentage: {{player.gamesWon / player.gamesPlayed}}<br>
    Current Overall Rank: {{player.playerRank}}
    Best Rank Acheived: 2 
  </p>
    <form name="subfaction" action="#">
      <label for="list">Current Rank for:</label>
       <select id="list">
        <option value="DES">Destruction</option>
        <option value="Chaos">Chaos</option>
        <option value="Death">Death</option>
      </select>  {{player.desRank}}
    </form>
    <div class="buttons">
      <button a routerLink="/upload">Upload</button>
      <button a routerLink="/edit">Edit</button>
      <button ng-click="logout()" a routerLink="/">Logout</button>
    </div>
</div>
