<div class="edit-page">
    
    <div class="profile-header" (ngModel)="playerSub">
        <img src="{{player.profilePic}}" height="72px" width="72px">
        <h1 class="h3 mb-3 font-weight-normal">Editing {{player.username}}</h1>
    </div>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" (ngModel)="playerSub">
        <div class="form-group">
            <input type="email" placeholder="{{player.email}}" class="form-control" formControlName="email">
            <small id="emailHelp" class="form-text text-muted">This email address will be searchable to logged in users.</small>
 
            <input type="text" placeholder="{{player.playerFirstName}}  First Name (optional)" class="form-control" formControlName="playerFirstName">

            <input type="text" placeholder="{{player.playerLastName}}  Last name (optional)" class="form-control" formControlName="playerLastName">
                
            <input type="text" class="form-control" placeholder="{{player.profilePic}}" formControlName="profilePic">
            <small id="picHelp" class="form-text text-muted">Enter a URL for your desired profie image.</small>
      
            <input type="password" placeholder="Password" class="form-control" formControlName="password">

            <input type="password" placeholder="Password" class="form-control" formControlName="password">
        </div>
       
    <button type="submit" class="btn btn-primary">Save</button>
    <a routerLink="/profile" class="btn btn-primary">Cancel</a>
      
</form>

</div>